---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
// Sort by string
const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="p-8">
    <h1 class="text-4xl font-bold text-center">Tag</h1>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tag/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
