---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <main class="prose prose-lg max-w-none mx-auto">
    <p>
      ผมชื่อพนธกร แพแสง (โมส) เรียนอยู่ที่มหาวิทยาลัยเกษตรศาสตร์
      คณะวิศวกรรมศาสตร์ สาขาวิศวกรรมซอฟต์แวร์และความรู้ ส่วนใหญ่ก็เขียนงาน
      frontend แต่ก็มี backend บ้างประปราย
      นอกจากเรื่องโค้ดก็เขียนเรื่องสยองขวัญและก็เล่นหมากรุก
    </p>
    <p>
      I am Pontakorn Paesaeng. My nickname is Most. Currently, I am studying in
      Kasetsart University as a software and knowledge engineering student. My
      main specialty is in frontend development but I do occasionally write
      backend code. Beside coding, I have interest in writing horror fictions
      and playing chess.
    </p>
    <div>
      <h1 class="text-3xl font-bold mb-8">ช่องทางติดต่อ (Contact)</h1>
      <ul class="list-disc ml-4">
        <li>
          E-mail: <a class="link" href="mailto:pontakorn_most@outlook.com"
            >pontakorn_most@outlook.com</a
          >
        </li>
        <li>
          LinkedIn: <a
            class="link"
            href="https://www.linkedin.com/in/pontakorn-paesaeng-a461911b6/"
          >
            Pontakorn Paesaeng</a
          >
        </li>
      </ul>
    </div>
  </main>
</Layout>
