---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="p-8 text-center space-y-8 m-auto">
    <h1 class="text-4xl font-bold">{SITE_TITLE}</h1>
    <p class="text-3xl font-semibold">{SITE_DESCRIPTION}</p>
    <div class="flex flex-col lg:flex-row justify-center gap-4">
      <a href="/blog" class="btn btn-primary">My blog posts</a>
      <a href="/tags" class="btn btn-info">All tags</a>
      <a href="/about" class="btn btn-info">About myself</a>
      <a href="https://blog.pontakorn.dev" class="btn btn-info">Hashnode Blog</a
      >
    </div>
  </main>
</BaseLayout>
