---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="w-full lg:w-2/3 mx-auto">
    {heroImage && <img class="w-full mb-8" src={heroImage} alt="" />}
    <article class="prose prose-lg w-full max-w-none">
      <slot />
    </article>
  </main>
</BaseLayout>
